# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Data files
data/raw_videos/
data/processed_frames/
data/models/

# Logs
*.log
logs/

# Virtual environment
*.env
*.venv

# IDE-specific files (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Unit test / coverage reports
.coverage
*.cover
coverage.xml
*.log
nosetests.xml
pytest_cache/
test_reports/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Cython debug symbols
cython_debug/
